{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["transform-imports", {
      "@material-ui/icons": {
        "transform": "@material-ui/icons/${member}",
        "preventFullImport": true
      }
    }
    ],
    "add-react-displayname",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components",
    ["react-intl", {
        "messagesDir": "./build/messages/",
        "removeDefaultMessage": true,
        "extractFromFormatMessageCall": true,
        "workspaceRoot": "src"
    }]
  ]
}
