{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    ["transform-imports", {
      "@material-ui/icons": {
        "transform": "@material-ui/icons/${member}",
        "preventFullImport": true
      }
    }
    ],
    "add-react-displayname",
    "transform-object-rest-spread",
    "transform-class-properties",
    ["react-intl", {
        "messagesDir": "./build/messages/"
    }]
  ]
}
