<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login Gitpay</h3>
                </div>
                <div class="panel-body">
                    <form [formGroup]="form" (ngSubmit)="onSignin()">
                        <div class="form-group">
                            <input id="email" type="email" class="form-control" formControlName="email" placeholder="Email" required>
                            <span [hidden]="form.controls['email'].valid || form.controls['email'].pristine" class="alert alert-danger">Email</span>
                        </div>
                        <div class="form-group">
                            <input id="password" type="password" class="form-control" formControlName="password" placeholder="Password" required>
                            <span [hidden]="form.controls['password'].valid || form.controls['password'].pristine" class="alert alert-danger">Password</span>
                        </div>

                        <button class="btn btn-lg btn-success btn-block" type="submit" [disabled]="!form.valid">
          Login
        </button>
                        <button (click)="register()" class="btn btn-warning btn-block"> Register</button>

                    </form>
                    <hr/>
                    <h4>OR</h4>
                    <div id="login-dp">
                        <div class="social-buttons">
                            <button (click)="openAuthWindow('facebook')" class="btn btn-fb btn-block"><i class="fa fa-facebook"></i> Facebook</button>
                            <button (click)="openAuthWindow('google')" class="btn btn-go btn-block"><i class="fa fa-google"></i>  Google</button>
                            <button (click)="openAuthWindow('github')" class="btn btn-gi btn-block"><i class="fa fa-github"></i> Github</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
