before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
language: node_js
node_js:
  - "7.8.0"
addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta
before_script:
- npm install -g angular-cli
- npm install -g karma
- npm install
- ng build

script: karma start config/karma.conf.js --single-run