version: '3.7'

services:
  frontend:
    image: node:17.3
    command: sh -c "npm install && npm run dev"
    working_dir: /gitpay/frontend
    volumes: 
      - .:/gitpay
    network_mode: host
    expose:
      - "8082"
  backend:
    env_file:
      - .env
    image: node:17.3
    command: sh -c "npm install && npm run migrate && npm run start"
    working_dir: /gitpay
    volumes: 
      - .:/gitpay
    network_mode: host
  db:
    env_file:
      - .env
    image: postgres    
    network_mode: host
