<div class="main-content">
    <div class="container-fluid">
        <div class="header text-center">
            <h2 class="title"><strong>GITPAY</strong></h2>
            <p class="category">a platform for decentralized companies and nomad developers</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="tim-typo">
                            <h3>
                                <span class="tim-note">Objective</span>Offer a marketplace for developers, digital products and platforms that use GIT for on demand project needs.
                            </h3>
                        </div>
                        <div class="tim-typo">
                            <h3>
                                <span class="tim-note">How it works</span>Gitpay is meant for products whose code reside in a GIT repo. The client creates an issue for a given price and the developer creates a pull request; once the client approves it,
                                the developer’s code is integrated in the client’s code base, and a payment is automatically sent to the developer.
                            </h3>
                        </div>
                        <div class="tim-typo">
                            <h3>
                                <span class="tim-note">Purpose</span>Clients want to create on demand work, or even a entire project developed iteratively. Developers want to do their jobs and contribute with projects with a good infrastructure. The developer
                                don’t need to work for one centralized company. The existent freelancers platforms still has the downside to work with agreement about unclear requirements. Git workflow solve this.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>