<div class="container">
    <div class="alert alert-info text-center" role="alert">
        Gitpay is the platform for descentralized companies and nomad developers.
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> How it works</h3>
            <ul>
                <li>We automate payment on code changes using <strong>git</strong></li>
                <li>We link developers and content writers, technical documentation, translations and services on demmand</li>
                <li>Request a feature, bugfix and a developer that can make your job done using the Git Workflow </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4><span class="glyphicon glyphicon-link"></span> What is Gitworkflow and what is the relation with all these stuff?</h4>
            <ul>
                <li>With <strong>Gitworkflow</strong>, you can make changes in the code, infrastructure and ask for a integration with reviews.</li>
                <li>So Gitpay get into the scene, and when the code is approved, you receive a automatic payment.</li>
            </ul>
            <h3><span class="glyphicon glyphicon-link"></span> What we are using</h3>
            <ul>
                <li><a href="https://www.heroku.com/home">Heroku</a></li>
                <li><a href="https://www.github.com">Github</a></li>
                <li><a href="http://www.trello.com">Trello</a></li>
                <li><a href="http://www.stripe.com">Stripe</a></li>
            </ul>
        </div>
    </div>
    <!-- row -->
    <div class="alert alert-info text-center" role="alert">
        <p>We want to change how we work. We are part of a new organization, #worknenjoy ;-)</p>
        <p>We want to connect startups with code collaborators and content writers</p>
    </div>
</div>