<footer class="uk-section uk-text-center uk-text-muted uk-link-muted">
    <div class="uk-container uk-container-small">

        <div>
            <ul class="uk-subnav uk-flex-center">
                {% for link in site.data.navigation_footer %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                    {% else %}
                        {% assign domain = relative_url %}
                    {% endif %}
                    {% if link.url == page.url %}
                        {% assign current = ' class="uk-active"' %}
                    {% else %}
                        {% assign current = null %}
                    {% endif %}
                    {% if link.title %}
                        <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="uk-margin-medium">
            <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
                {% include social-networks.html %}
            </div>
        </div>
        <div class="uk-margin-medium uk-text-small copyright">{{ site.footer.copyright }}</div>
        <div class="uk-margin-medium uk-text-small">
            <em>{{ site.data.translations.languages[page.lang] }}:</em>
            {% for lang in site.data.languages %}
            {% assign language = lang[1] %}
            <a style="display: inline-block; margin-left: 10px; margin-right: 10px;" href="/{{lang[0]}}">{{language.icon}} {{ language.label }}</a>
            {% endfor %}
        </div>
    </div>
</footer>
