<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" data-uk-close></button>

        <ul class="uk-nav uk-nav-default">
            <li><a class="uk-logo uk-margin-small-bottom" href="{{ "/" | relative_url | append: page.lang }}">{% if site.brand.image %}<img src="{{ site.post_assets | absolute_url }}{{ site.brand.image }}" alt="{{ site.brand.text }}">{% else %}{{ site.brand.text }}{% endif %}</a></li>
            {% for link in site.data.navigation_header %}
                {% assign url = nil %}
                {% assign title = nil %}

                {% if link[page.lang] %}
                    {% assign url = link[page.lang].url %}
                    {% assign title = link[page.lang].title %}
                {% elsif link.title %}
                    {% assign url = link.url %}
                    {% assign title = link.title %}
                {% endif %}

                {% if url %}
                    {% if url contains 'http' %}
                        {% assign domain = '' %}
                    {% else %}
                        {% assign domain = relative_url %}
                    {% endif %}
                    <li><a href="{{ domain }}{{ url }}" {% if url contains 'http' %}target="_blank" {% endif %}>{{ title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="uk-margin-small-top uk-text-center uk-text-muted uk-link-muted">
            <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
                {% include social-networks.html %}
            </div>
        </div>

    </div>
</div>
