html {
  margin: 0;
  height: 100%;
}

body {
	margin: 0;
  height: 100%;
}

#app {
  height: 100%;
}

#app > div 
{
  height: 100%;
}

a {
  color: inherit;
}

.MuiTypography-noWrap-112 {
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
}

.MuiTypography-body2 img {
  width: 100%;
  height: 100%;
}
