.subscribe-form {
  font-family: "Roboto", sans-serif;
}

.subscribe-form input {
  outline: 0;
  background: #f2f2f2;
  width: 50%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px 5px;
  box-sizing: border-box;
  font-size: 12px;
}

.subscribe-form button {
  text-align: center;
  text-transform: uppercase;
  outline: 0;
  background: #00b58e;
  width: 45%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-size: 12px;
}

.subscribe-form button:hover,.subscribe-form button:active, .subscribe-form button:focus {
  background: #43A047;
}

.subscribe-form-main {
  margin: 20px 0;
}

.subscribe-form-main input {
  text-align: center;
}

.subscribe-form-main button {
  text-align: center;
  text-transform: uppercase;
  display: block;
  outline: 0;
  background: #00b58e;
  width: 200px;
  margin: 0 auto;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-size: 12px;
}
