---
layout: default
---

<div class="uk-section">
    <div class="uk-container uk-container-xsmall">

        <article class="uk-article">

            <h1 class="uk-article-title">{{ page.title | escape }}</h1>

            <div class="article-content">
                {{ content }}
            </div>

            <div class="tm-timeline uk-margin-large-top">
                {% for version in site.data.changelog %}
                <div class="tm-timeline-entry">
                    <div class="tm-timeline-time">
                        <h5>{{ version.date }}</h5>
                    </div>
                    <div class="tm-timeline-body">
                        <h3>{{ version.title }} <span class="uk-label">{{ version.label }}</span></h3>
                        <ul class="uk-list">
                            {% for item in version.list %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

        </article>

    </div>
</div>
