---
layout: default
---

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>

            <div class="sidebar-fixed-width uk-visible@m">
                <div class="sidebar-docs uk-position-fixed">
                    {% for section in site.data.navigation_docs %}
                    {% if section.title %}
                    <h5>{{ section.title }}</h5>
                    {% endif %}
                    {% if section[page.lang] %}
                    <h5>{{ section[page.lang].title }}</h5>
                    {% endif %}
                    <ul class="uk-nav uk-nav-default doc-nav">
                    {% for doc in section.docs[page.lang] %}
                      {% assign p = section.docs.pages[forloop.index0] %}
                      {% assign doc_url = page.lang | append: "/" | prepend:"/docs/" | append: p  %}
                      <li class="{% if doc_url == page.url %}uk-active{% endif %}"><a href="{{ doc_url }}">{{ doc }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-expand@m">

                <article class="uk-article">

                    <h1 class="uk-article-title">{{ page.title | escape }}</h1>

                    {% if page.subtitle %}<p class="subtitle uk-text-lead uk-text-muted">{{ page.subtitle }}</p>{% endif %}

                    <div class="uk-article-meta uk-margin-top uk-margin-medium-bottom">
                        {% include post-meta.html %}
                    </div>

                    <div class="article-content">
                        {{ content }}
                        {% include share.html %}
                    </div>

                    <hr class="uk-margin-medium">

                    {% include paginate-doc.html %}

                    {% include related-docs.html %}

                    {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
                </article>

                <script>
                    // Table of contents scroll to
                    UIkit.scroll('#markdown-toc a', {
                        duration: 400,
                        offset: 120
                    });
                </script>

            </div>

    </div>
</div>
