/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'PaybAck';
  src: url('assets/fonts/PaybAck.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PaybAck';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACEEAAsAAAAAOgQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABcAAAAFcA
AABgRQaa8mNtYXAAAAJ4AAAA8QAAAgwLtxAkZ2FzcAAAIPwAAAAIAAAACP//AANnbHlmAAAEKAAA
GcQAAC6Y9S8drWhlYWQAAAEIAAAANAAAADYAxIWgaGhlYQAAATwAAAAgAAAAJA45BGFobXR4AAAB
yAAAAK8AAAFyfkQAAGxvY2EAAANsAAAAvAAAALwSnh3ubWF4cAAAAVwAAAAUAAAAIABlAF5uYW1l
AAAd7AAAAngAAASyQ5VOo3Bvc3QAACBkAAAAlwAAANwIFQlWeNpjYGRgYADiW/WbLeP5bb4ycHMw
gMBZq5C9YPr4sz0MDP+q2JawbQJy2UBqGRgAT0cMKXjaY2BkYGDb8i+O4R7bQgaG/6xsSxiAIigg
BgCKYAWoeNpjYGRgYIhliGNgZ8AKABPdAMR42mNgZtFnnMDAysDBOovVmIGBURpCM19kSGMSYmBg
AkpBQAMDw/IABgYvKJfBw0dBgcGBQYG5jnXWvzSGs2xbGBcpMDAKOgLlWBhYZwEpBQYGADoyDM0A
eNpjYGBgYPzDwMCyiYGBSZGBgfkekB0GxFYMDKw7gFgZKH8ZKNcCxGZAvA6o5hBQ7BaEz3gUSC8F
qhcHissD6SoglgPibCD2gLIFIPIsqkC13ECsAVX/CyIPMo9VFMg+AMSOUBroHhYdKP8nUF4LqI8F
YiZrL0QvK0hfMRAD/cDcCaHBekF2L4Hqs2RgYFsIpI8B+SC1fEBzbkIw824gngEUj6WTvV+BChkA
dEQrmQB42s3QV06cQRCF0TPMkEzGYHJOBmyTbHK2yTmDMUKeZ3aAYCuwAVbCIjBeB9JPEyQQSDzz
tVpXt1qqul2Ie7iVYu44Ci527xNWg+aHc/e+79CxE+cu4qdRFCq1Dvx9qkT/o+voX3QVJaPkzdlj
t+ekxc7v9dJrYi/0bVJCooRUadJlyPRBlmw5cuWFtAUKfVSk2CclSpUpVxH+U6VaTUhdp16DRk2a
tfisVZt2X3z1TYdOXbr1+O6HXn36DRg0ZNhImDxqzHjQCZN++mXKtBmz5sxbsGjJspWwtzXrNmza
sm3Hrj2/wwb5472ScguhsynTAAAAAAAAAAAAAAAAMACEAOwBYAHgAkACbgKcAsgDEgNKA2wDjgOk
A8oECAQ6BH4E3AUaBWwFugX0BlAGrgbeByAHUAeEB7YIBAiSCNAJIAloCbIJ6goeCnIKtgreCyAL
VguCC+oMPAyQDL4NDg1iDa4N2A4iDloOog7kDxwPVA+AD7AP3g/0EDAQgBDIERIRShF+EdISFhI+
EoASthLiE0oTnBPwFB4UbhTCFQ4VOBWCFboWAhZEFnwWtBcCF0x42u16jV9c5Z3vec75nTkPMwc4
zJyBSTIkZ14YBjNJkDkzQwxJpoZaoqiYTsyoaIgZDRq0aFDRchWVtlSpsga72KJhLW2wiy23svuh
LXc3pqw37dI2Vu5n6S3d5lPZmr1Nu3SXttHMPLm/58yA/R82xk9eBjjP7/X78swIooD/iV55SNCE
DYLg8lWIiqgE/DtJwgwkypySr9wtBmybScw5Srpo0EypFykA1BwiGbqx5MOKNp88BOy5f2APrqfT
HtCJlyxcWiEKm6wF0ieAIEid0oJtQnAJPuEqISoIpK7Cptjc0XK3LWCTq81EPBGX8RC/Uh1PBPwx
Z4K4dcWmhKrjSoUt4KuOR+NkwH7tgKENU0012DCY1712s3hn2HB8CFF5mIYpqe16dmfYqPwclBax
Xmq3f2CbmG9sXF9ClGnaSI/9cjJdC8CMWrr1Kkpe2Jhbolc9cXfJkQeoh05DV1iQeB0gLc8Km4Wr
hT0YJVbCHXUmfHVusZJE8ffNxK9EK/QA8Dij8UQ1j3UHqXPFXVH+D1KBZRIDPn/MFRAVX8wZJROE
0taeW0sI0HQr3VA8WLx5inqzi+fAQ4ftW+kE9arn7ftopMeknQ7RAUWlF9KUXaStvSmVrdxUIs8C
e7uY7HSp7MfFoLL5aWgdCdOVcNHfAiZNklr21BSwcTrEpilJsh85gZhWKtZvDbYuoVKoFhqFZswo
WmFzl1dg2eVQNf+bW5d1JbSTaAmssOTWK6IxMxGwkXK3ptgC2ILNxOpIdSgWr6rAL8ejQVmpS8Rj
ZrXYMEzps4f6HOzbhqb/4JHc2cbli89+grYaoEGtGDQudnVqsmOYAoXevr4i8hmohXUOsYi96MEW
JG1d0KiWXPvkd6DhMfJqdX03FB8G9eAva4ntK2aKeSFUDpse8bKmPfvZ7/6uSZIzUHpb+zO/prX0
+ZpsZmQh5SzfHhAEhecpT8orQrHgEQLCViEmXCd8mmdbV1GO4yOHMKm4D6dNUPyK6YoTHXuWiJnY
TqJHBSUQJ5i+gsPorw7K+EM8e/xitfWDro+/W7GRHv3dPSo447m5+qm7pJKzlOXKHP+2eH32T7Xq
p4prabM4CLk/li2sJ08eLKt85aGTD+whJ8RD883a+WRT+FSTPn6E1MO1zoi20wXyyvzGW5fa9z/7
X19qwH3Z7o6UkCf7WG3mgt6KM549uiEpDk1RA/rMVNvczTVsvsc4tXf3719oYmbHWTM9u2G1z7Ih
nxFsQo1QJzTwzN02JRaXyyuJLmObownAhavAFwPYd5+BiWlVPLmgpFfEdxKz2iaVR/UoplltE6e0
/cdvIK90sYv+myBC1tujnxjb9ENo7Pge+3/sp0e8JNnYRL75mtndlFnQ2/XYkTMZ+QxVDahN3v6E
8S9v0OgtHU3qYFc/bP63SGvf4oGdxP+tJx59+mDLZaHqwC171Fq1JMt6wYTzezn0ID48QeZt3xFU
7F8eG3T8hYMXlypw33CTLEgYKNpNjq7UwjXfOHgY6AiNUNzzqlLbd87Ku11VQOnfHTHZENWA3b+e
km4j/+zL/WKfnBWKhHX5+Vdk/mCXHhXLcN4VX8jqMulfoa2tbAxufGpvNaSTlC2H673NchamVxrp
6dPtuWVg/8T+HPnDJdj+wXD/n39XeHa99exyxM3o6mLx7SG+amcZLkm8d6Xq03QD+w+vSYbD7Bxb
pudUKmdrfmFQao6dYj0n/4ZprBnIr8lPkgfuoQLHIemUOG6bxOdqQiQfdcAWqI7FFRxnrIvM/yjn
7fRXc5CMxRMxXNBoVTnCpLaAoHyyDMjfHC0uPg4+sZp6K0/a7051OXY+pNy3++D26Q01pFuSDdsk
jBp0ivY1qIiB+33r/14z7C9BU3r2tHjnHjiyHTba2xu1jfk68qigHiPCf2OGkg/XBRAeEB/jCXxB
D/jEUp52NC5O0CCp1dRcS/0UDSJIqV7Rw6ErSClbUg3aB/U47qOw2A/kZvfAYq6LQj2b9iKgmTo/
iggC6yMLZFIos/IXkQxwOeMxixzipH6YRpoPv+qhyZlhPOFHZBKX7pYXd565ex8lN26LCPmYRacY
lh626shjRigwAzhInFJicdGgqppbAS8lSyA7WMeA9DBRJjJAlGK2Qpupx4oDf5shUwK1noCjiAmT
KeQb1oMDSKYwj54wkEEjXyNxHPmjyIoav7uUhDBcySYF8Kfi4ihdpouwrDfok3N0Uv2RPEuUXFFZ
hIKYi2bH9+V+A2KdMygIBS6i+KwSYb3g5zUwXDhWEgRCZZrL6XLjsrpiZsAv2TAdH9bGFJsN4r/d
GMx5tN7+kZb2VzZlXvSpZAFeZJc9X7tFnmXLj59gX2T/MvAY2U4eJVuJkG2NTIst6QnWsJNdTacb
qbDWa0OewCzWcxZ065Jc7YzZSglWLxpM8N3J12GZ1HYybOZXvmxClYNUPrYEQcoGaaVDnoBoNtpE
yR82PFinAelsm8si+54OASkvKZwBnXjGOiFsZVfBsUrxy9UkHguhEPC7g7xmBIfcV1dhcSov4Qii
Tyo4W5x7GUgmU3zwoWpgk8bOx/rI4I8D5IzNFrJlKW0YwfDP3LyfLk934/hlWjrOgkFJ2eGu7ACc
qFLZCCWlb6qrcWhY543C7r+IgxN8tDxatxtT9it6IMh3LE4KxGBYdJgHTAs98XvMAFKj2K6RZJPW
xF59A5z2rc50BNJHqih7S7nh658lXx9d+sL/NNg7d5uUdJXtCR+sUTug8giUuslJeXbRrNV7W5u8
tId2hdNT9JMO+PfDyVzHjT9gH76dXjq+ndafoT2VUSOjGdDbLKzplQmczU3Ie7xTIp/wuMwbFOXT
GrAKl+Bb6Uy4oi6/uEQaNhXlOmGXeBP2qp8adHC9nc1ST26ahmzvreu6EARsHpvshX11wH5xDAf8
bPiyQC9iwQkpZedJ42rdktbZXM+hJvJzXMWTcbcUlAk4rhWrxapG7eC22CXESTQQxFYGoZ56Ubrg
H5IHi5W7aEBnE6GtKsw//67Ovn/Eq1aQ+6C711u6P7jrVmBn26lUj6GlRul5VGwTvWF2YetN7Hfv
dq+k23AX9bGlZG/btiLyddfw2hyDRx7D/bma7yPCsy6b2Du/5MYI6/hCyYV2ai5sH9FRL3BxEwrw
tkvJu3fVs/5a48mt0D7w2zsRwB6+38v+9f7k4F115DzrTBVtOOYDLWl8boM8Frr/8U/T2raIJLML
kGaLjfVseDJy7uVvk3tI9WA6G34wBHBqm3uQLn48d0OCGzUxam5LYiPI6QEO8LsJH3fUJvhSfvJr
pQUs194Dj+xJ7/gQdj6fyZ2jQbEeUpF1ChumyWZ5iDdq14Oj/YYWoV96r5+SzuwQzM4PUBL6+4/1
oI6zXopbtyWvE4wKCxZjCa4IUAEig+zkM88x0m2tQr5A+CI2t6Iw73xBbWKLTrYdMpy7ssvedhK8
a6P99u5MOyKxW+mdfv5dg313fzBFgp23RWmqtOy+AMizs80tZ4fAs+814vy8wZppu+tp6MDwdfqZ
V8Lvvdk+d2C/5+QDK4+uH9i43rg9BBMlf9HHWcEp7FyNWQ5Ze5mXdgQD1aS1xcRZq6hz17mQM/2S
9Q0J/lI531ax3kMiGQ8br7nhji0NbA56Xhb/WZ391u8NdrHVdJCHwPRgu+994Td3acu2ByGlqc9W
mvLscqQ22d4bbKDQNzPN2koPhdkt7IPZU0/vQDmqp71APGmi70zYQ5KbwtMbYFEVVnFcFMCLe6JZ
CgSZU5c5dlqbEquTV7GNXKRB1gloZFo5Gy2UESmvcJAevNjbM0WfouRphfVDA04/a6HkRDF/PnsC
uXUjco5TqMpPEvqTAIo/rptwJess2irIBBNdCh4+RHqozoa8KukBLyCT6VQhN9Jwy+3fM/UvbQY6
xE/dSJR0E4yNUPZnB7xdyrqRrT68ZaD5mX2w82CRAkCe9631R4d51J+WxkJdoMSquJqWy2VumgQu
CqJBUGmxg/3gpyItclEmmGQiUAzZ+VSlY6Fe3Avzw8kg1WF80ThDkfxPXE0a2jtWayitSCbmqHOH
mudhq2Z1XIQogY/rKV2gQch2IqxJregUc9dfP4L6QOoCm51lJBPreFKhZHs1M9W5fgokreK2tnzM
e5jHQj4PF84M11oC1lFQuG4IJjgNROMDoxMoVDyi74AB2T3bIAwias779qqaDxZawL6eHvof7LdR
Nq+yRqS+LvUcnYnAKVjLZVKeRKVbhU5FIBbhWBXLLx4ufNDiGjd3yLyBHJh8hSkRvcSb0anBPrVj
tCmDEpKNbznynHjdra8l0QFqxpYN5D9zL5B2WsNRoUqevLCrLtifotAf9taPGxH1/QdGcmP06NP7
74ATe9OtrJ53n/TysGyWj9DRL/LItgvXCrcKd64pD0XOg2QdesAdBHHckGy4VHn3SOJEdOddIWKo
pUyq/ZJsGSqzKl7Bjb7lqLYhjJRzO4V2n98oRMWsh9z5rHEmR7svtLffk6BFpTP3/K3GvvxNMzPT
QpJzIj11z2eSzbnhJnhpX9OJvWLzsw/triIR/8ZZ+sgdP//nxj99T537zNf1d99T2JbtO1SwdbHB
Rw6zN/8wcNdpchdZ39ba0MMa33rlnZeo8cb3TTJJUpNsKvtH9/zxN4Z6cs3HykTB3O9g2jJ01hZF
aSNRjm8fWNKLNnVOgEY9H+8xLMvDOIPrBYNzbR3aNzOAZtKFs4iI6LOQWkgEZZsUDUniHEkW7WA7
2M9h9ih5dZayydLiEhsbaFZZB+64R3yDvU97Z9WIPMzOdjUBilDWllVhqGVJlUJbhxsr2ZsJsn0V
tyfwbBeezR1eYWr0gB5FfJZteVWrROtQELoK9tUaFzTrOMTW61KQFH/KBJjcnPtrhb0PadQgnqHe
1sXrH25ZGZ3KTVGTSp9kBzxTg4PycP+NnwWALxzyDEETSFvtbHKut5kNp1vS7P0XTSrSs6NQ81Z/
em1vZMGmIsZtybtutxyIOWXLD7nz1UGdigFzQeXjVz8+i1K0RJ1E0199OuuBd8Vf7N3QBpS1FTm2
PXQ6ro73JymilPPecTbFTj7W2mG3qc2QBdJ0Nrahc/w2BTI9bO7hUMP8IMDt38ouffV/1RLywdoe
z2C9dO6eXD7DIn70eQFUaqiQOFrw5RZrCK9RlR6VODUkzGhwTFTJtfe2sQ6laPP+xkYvZRloAcTI
1El2ILdMdxSREQgGT/ujlR5yhzw8+cpx5VDRgQ6FsMV2Kp7Tcmepev4C66NicwbYTOOW3zak1mIa
wphkPj0u9OeBeA3CF641Cly+HvzPVasbHJs/q4M4RZLo5XLjGogRHMTcHNXEDoSzrEA7vSK2iZoN
Kpt4sYwol248+DiKNi+FwA9HV89rxPPKuV/L6wsf4glWQvJxkOGzSzhimlV1o9IINdAK6WQGOShp
dzpLWDsMk6SthHWSUZCHETfHXy8nSoD96tx4BuSmj851aWprYS8u4jkKuoVonp11wpvvlqtNfrMn
835XcmnF995M4GREfRUS+AKGZMmKuDjZQ5x3X5p8R/pemHV6Ghe35v4EO6r0/qAWaemly5UOMUWb
2M/Yf2bYiafCEUUeHqdsBcj0QndDqslr2rdqvXTbq8f26z/dQps13KUWyA0skZbP3x8cH6JrM4qr
lmfJPIPEnDiNvDDEmghR4sWPu3xrZiNCwyppM3RK+mmV41IamiikoBEtTjf3q6P1lHXRWs/bVn2e
OgCkcQi4H2QLVPxaEfPS3HPsJ0CvJ/83N0/Je981Cx5RkHsFB25zvi9KYX8r8jeGnXhYGmzsXmhD
YAaTso5QidxLlOy7RZABqbM2O0SZXAxkYrXPTZhXpeWj8s8L8FsILH4U/6+yao/znafI/L1WXJzG
U1ojasSR/Y89VbjqKumHRrjHhbCgwQ1vpxpSY62VPK/sfS83wGzin0Il4GltaAlrtzjmpWtClzrh
y/s8zapQ8MjygBVDIaOokEDTRgRr+cVq1LRYUyzyOJ5ai7rhSSc5p1IWRqJi3uJAjwpvEUPFYg5T
q5bXlpB3SmoZzb5mh17SYX6/mI2D3FZb8KZ83ii/c8l7+gL7S9z+WJ0Tu6irCDcXLV8YoFk0/SXZ
JG23no1rSq6xsxnQcs2AfZTmjLU7tFP4XA0xNijs4vdQrjoXh41A4drAyswvc9khFtA1KnOPzwFO
CqxODcrPqBmNi+2l68Bgi0DBVs4mIUXlZhRVaq5rWiNnWimboilKbiphQys6ZYuOYoigsMNX6+lB
sRJoy/vIC3NsVvkkbe1MgXh5HdYlpY6BuKcyt5Tto1K4JQ05dwymKBnLTVBxvVPvo976hjW+krus
OrksnVFe4bJhpaLWwPvzE+e24ciHpJDkl1aBJ1pegdEHxVTRYz0ludv5xPehmFDR5aNrBchQNuT8
hvJFezlq036apOLPHR4dBeq98rCUY8t0nOJsKayzDQlNYxoUZx+AYnJMIjWXBfbMVioeXTdZHetM
r/EGxhgQ4gWdwUkNfaTlMXBQLdKowGlGrnDx9wC4sbVuO0LVGCoHFHEqRW59uNaLgOXt9eqe/301
VRX2mOf863ffIb4K1z33VfZ+6h9ee9RJjhfXprUBxER27rE3YLydDmTUacxissnUo5+gbdc9HCTP
kZIhT3YO2I+enMj0pTONI6s71odxlln6to5zr2Vt8/ddOHx5ihXPXGzuXugenzaBWrNMurzJafzB
pkP/aLB/fb2Z2W0AcqaWTQYXBjsKfbp8K9bgJcQDv8XsSJ4264YyYV3faorbuugLVdsCFmc6o1gE
ruWRZuPWBZA4991flWXLwP9S71RIvCY9eTimDqTG7niX/eJEu3sHaT5Vuv9A8fXPNJz62Vb5pR6g
WXr4r9q89OxzP/Gyv75Eb3bDlv/a/Epw5vVfU9LNRrJ6hM50v/KPK2ysoD2mMfd16FNrLIQ3CgJj
9bozFMCJgoIC4RqWOCuJD0NULEleze9FlsjB7Q0LMceeGDbnjr0b/Fd5Vdbt6ecipHe8kwx1sQa9
aQJwbTuprZx8ASXIgcfZ7142YseqFJqZ0z3A5jPw8wCbXOyHlpzBpnTq/i3Uwixk2vIYBB0Yp1m4
9+eT5PPzcPLkwzXAmpeNR33cEubv9auCZWYiKM55L91Sz2e6v3Oe3ZVc6BkZYr+6oYMoJB2GEdoR
ZEvs1Bh5XR4ePvylRkph3PFJ1Yzs/ex9T/3xB+mOz7+TpkC1+Ux437UPEufcUPvHnmLM0o2eVXfG
r9HyFyUWZpiuQKwWOqiGmFoFR6HczoYeUHCAOjs4YCURQ0j7BCxeWlHXSR/Qv+BcFTHwqjybVaJh
l/243zUWt1mYyNHeEoLoiqusZQmSFdoGuB6U3mWXBETjFq5wWoHUw8brDr8ZLWMdDz6aIqM1e8L3
7yJftgjga9twwdv6pFG0fx6tnUotanb63WNv3KD3PXptW31/2xq/1ls7YrEAdsCF+5rwuXWiy6LE
N9dCSiQfSkYVn5qBCEGzO8z6c8HWfmkYxlFttWthUK+Rh88czZ34nOQAcGSPF32bjIkDWXQqxxKw
lNTX6mobs/Bts6Wn/NyIxPHcOlfUwmoBEc1BAjaL1UNSvApLz79EZ4reQiRTyhyIt4NB1JgM0bhX
DdeDfhH7r9NUGTlKvXAO+YJGSstUOspUseYoUT56wk66yPB1uV0w1AARmrbbanK/FF+wF/KfxXi8
/CbOyr+CywudOFENI4lwWvaZG9ALIxRzWjxDptW0SX9cQck0azirsXa9jZ6+6o1t7OJKli3pUK8n
KUs6kIWzzxaRezaBK3eQbd8CmeAyO10XcaK56REfjl8Kb/wKpNd60GzpXtR8ZT7+tmS+EtxfmoGE
ECMFhRmtI6fU8bLLeDbNfbgFfeRvngGd9UkChCmuoKE6ECeby8gJ4FfUe9NNXpiREkVZD2VPV1HS
tHaeamm/TQVNG4oVVK2gWJbVusLlqioaXBoaoiCJD+GJXjV3JCD2opK91Ed9jpj4VO4cLXGKrTK/
zAdUAmdyic3AxoBc44yJb9Ezg6vniWfRn9LVXeLkz287ca8l681kfuCMqFKbM3ce3KIEdvtM9zQt
Lc6t0AFq6yJKbzs9vwwdlyaIMg1yuf0vn1uE3cvvqGK9zZIvVjz/Bm8ANzXKn72SXIYisRTGKBoC
TZ1SDWiZpgZ/eHG1FqGdPfQjXxmdJhlR/D3tyb+/JU3bvokOu8JiYl2Ouwq2MWYrqE5TnFQ+wYzS
vyKtY5TNFEWDGorcGWr7me2b0o+V27YSkZ1lAMsjFPsEVCTPOfLvk7wu9V++RsBEKnz5EiBRXhCH
qKpmh6nd/u13iDIIXUYBNxYsjWO5AkzLWQEK6husX5w4Ey7LueLLPLS4dN6+qzvInjp+Xk3+n02D
xeRrfdqw5VixhYiUjY5iFw7JTG5xtsObatgs/ZBEK5k3b1tz7ew8KpOP7x2v+Ncr/vWKf73iX6/4
1yv+9Yp/veJfr/jXK/71in+94l//u/nXi+gzN1tIyZnM+kwp/uIftZD4QvP94nRhukzrs3Vc2Lvi
hU+skTYySNc5GltVd9RjtmipCPWyBtXb7lGD1Di8TjNqSDVqIZae4W6UrZyfbAldBYkvGpcFvYEo
6bSnIVhLtG5K9lyd2UOKv/FROW5QcDW2FYyNf36W7zmCTiEg/llwDBGsz7AlQjEeGf90SkXhwynx
6AwZrPe0e1Bjeg6v01X2lgP8fi3doiWTtILcBnrYCyxNnXZb1+7H1Rj7d70doxvRUrvuR5Nku7e+
pX6UaM2UqB9N0VHM6gxG8/8B0AbkRnjadZJBaxNBGIa/zW7bWGMpWgUR9Tt4EGmXpMWABZFQaGtt
pcRSPHiZbCbbsZtd2U1achHxJ3j05LXgQb0pqOAP8ORZ8CJ48Tf4zpc1jAcDs/PMO9+8885MiOi6
95M8Gv9CtDF7NEM3S66Aw5J9WpjogVMzRTfobsnTjj5Ld6jAKi/w4VOrPBeeAs/TO+Fpq9MX4RnR
vwpXhb8Ln4LTI/pdskdz3sOSK+Ctkn2c5a8eODVTtOc9K3na0WfpqfdNeNbJdtruW2kL1xx9TviV
8Lzdt9IRPgc+W3kivODUnxefMV9w9Iuy9oXwJakZe152aq46fE3q3wgvCX+yXHUyVx3/mqPXyvwn
vFxvrPCWGnU1b6g8z455PUsHRcitJOG2iQ8GBbd1ofMj3W3reJiofFeNOq3ocHVf54XJUm6E9brL
vKNGvNxcFO9FNqkZGJVwrhOtCr13YAruYQ8+VgVHuVYD3eVhYdJYtl6zSpZzM6xzL8/6vIkQS9tZ
bKIwyvqUUYdG3hnS9JhS+oWWUU59UpTQAxqgT6mLb05d/6X/1v/of0Z773/wX9MJMS1TnRq0AtpC
1Qi1GrwhK3J4HWO0jj6FV4F/N1MLzgn6NhmK6UB0O9LoNdYc4duVcUxDVFqnXfHuYG1Eh7RK+1JZ
wME6MxKEyFH/r860Iw42b5MWndyWDWoNchg5NcNBo9cY2UR7yGgkY688B+NUSpRIahU0m5mRtxC3
2Dn12qTG3ixj/1AS9eR++qDN8iaWaBtKjFGEmkhm70/ew2YzztgmdF9I3uif+ZRGwZWgEdwLNoLb
+N6azP6QWY2xwn0rrLPv3pI3G0pq9QdztLsfeNptztc2AgAAANAr2YWsjEhLRmUr86QTIZsUyvFV
fhfHs/sFV8Cf76wv/+noEtAtqEevPv0GDBoSEjZsxKiIMeMmTJoSNW3GrDkx8xbELUpISknLWJK1
bMWqNTl5Bes2bNqybceuPUUl+w4cOnLsRNmpiqoz52ouXLpSd+3GrTv3Hjx68qzhRVPLqzfv2r/r
D58/47ATawAAAAAB//8AAg==) format('woff'), url('assets/fonts/PaybAck.ttf')  format('truetype'), url('assets/fonts/PaybAck.svg#PaybAck') format('svg');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'PaybAck';
}

.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 80px;
}

.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
    background: #7646c1;
}

.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}

.navbar+.jumbotron {
    margin-top: -20px;
}

.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
}

.jumbotron .lang-logo img {
    max-width: 100%;
}